.btn {
    position: relative;
    display: inline-block;
    padding: 12px 35px;
    font-weight: 500;
    font-size: 0.87rem;
    font-family: map-get($fonts, main);
    color: map-get($colors, leading);
    border: 2px solid map-get($colors, leading);   
    border-radius: 25px;
    cursor: pointer;

    box-shadow: 0 0 0 rgba(0,0,0,0);
    transform: translateY(0);
    transition-property: box-shadow, transform;
    transition-duration: 0.25s;
    &:hover {
        box-shadow: 0 5px 30px rgba(0,0,0,0.2);
        transform: translateY(-5px);
    }
    &-wrapper {
        display: block;
    }
}