$fonts: (
    main: "Poppins"
);

$colors: (
    // Leading
    leading-brighter-3: #F3F2FC,
    leading-brighter-2: #ECEBFB,
    leading-brighter-1: #D9D6FF,
    leading: #6C63FF,

    // Light
    light: #FFFFFF,

    // Gray
    gray-brighter-1: #B1B1B1,
    gray: #707070,

    // Others
    warning: #d61e1e,
);
